@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg text-gray-900 dark:text-gray-100;
  }
  #hover-card {
    @apply relative isolate bg-zinc-200 dark:bg-zinc-700/50;
  }
  #hover-card::before,
  #hover-card::after {
    content: "";
    @apply absolute top-0 left-0 h-full w-full rounded-[inherit] opacity-0 transition-opacity duration-500;
  }
  #hover-card::before {
    @apply -z-[1] bg-radial-before dark:bg-radial-before-dark;
  }
  #hover-card::after {
    @apply -z-[3] bg-radial-after dark:bg-radial-after-dark;
  }
  #hover-cards:hover #hover-card::after {
    @apply opacity-100;
  }
  #hover-card:hover::before {
    @apply opacity-100;
  }
  #hover-card-overlay {
    @apply b absolute inset-px -z-[2] rounded-[inherit];
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1500px] px-4;
  }
  .sTo {
    @apply scroll-mt-10;
  }
  .section {
    @apply flex min-h-[800px] flex-col items-stretch py-20 sm:py-28;
  }
  .bg {
    @apply bg-zinc-50 dark:bg-[#111];
  }
  .b {
    @apply bg-white dark:bg-zinc-900;
  }
  .br {
    @apply border border-zinc-200 dark:border-zinc-700/50;
  }
  .bb {
    @apply br b border;
  }
  .c-secondary {
    @apply text-zinc-500 dark:text-zinc-400;
  }
  .text-gradient {
    @apply bg-gradient-to-r 
    from-zinc-700 to-zinc-400 
    bg-clip-text text-transparent 
    dark:from-zinc-400 dark:to-zinc-600;
  }
  button,
  input,
  select,
  textarea {
    @apply rounded-lg !ring-zinc-200/50 focus:!ring-4 dark:!ring-zinc-700/50;
  }
  button {
    @apply rounded-lg
    active:ring-zinc-200/70 disabled:cursor-not-allowed
    disabled:opacity-70 dark:active:ring-zinc-800/70;
  }
  .btn {
    @apply bb
    rounded-lg 
    border-gray-300/90
    p-2
    dark:border-gray-700/60
    dark:hover:bg-zinc-800/60;
  }
  .btn-dark {
    @apply border-transparent bg-zinc-700 text-zinc-50 ring-zinc-200 hover:bg-zinc-800 dark:bg-black/20 dark:hover:bg-black/60;
  }
  .btn-light {
    @apply dark:bg-zinc-700 dark:hover:bg-zinc-600;
  }
  .btn-darker {
    @apply btn-dark dark:bg-zinc-700 dark:hover:bg-zinc-600;
  }

  /* input,
  textarea {
    @apply rounded-xl border-2 border-zinc-300 bg-transparent py-4 px-5 outline-none dark:border-zinc-700;
  } */
}
